body {
    background-image: url(../images/dark-honeycomb.png);
    font-family: 'Basic', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.banner-image {
    margin: -60px 0px 0px -150px;
    width: 650px;
    height: 120px;
}

a {
    color: none !important;
}

a:hover {
    text-decoration: none!important;
}

#sportsQuery-submit {
    height: 25px;
    width: 75px;
    font-size: 14px;
    border-radius: 2px;
    border-color: #2f5bb7;
    background-color: #357ae8;
    justify-content: space-around;
    line-height: .8;
    margin-top: -5px;
}

#sportsQuery-text {
    font-size: 14px;
    border-radius: 2px;
    line-height: .8;
    height: 35px;
    border: 1px solid #515252;
    width: 160px;
    width: 168px;
    padding-left: 8px;
}

#instaQuery-text {
    font-size: 14px;
    border-radius: 2px;
    line-height: .8;
    height: 35px;
    border: 1px solid #515252;
    width: 160px;
    width: 168px;
    padding-left: 8px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #808080;
    color: #eee5d9;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 12px;
    border-top: 6px solid #771c0c;
}

.links {
    margin-bottom: 10px;
}

.contact-link {
    margin: 0px 30px;
    color: #eee5d9;
}

.sports-btn {
    height: 180px;
    width: 180px;
    display: inline-block;
    margin: 10px;
}

.player-suggestion:hover {
    background-color: aqua;
    color: black;
    font-size: large;
    cursor: default;
}

.sports-img {
    height: 180px;
    width: 180px;
    z-index: -2;
}

.label {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    width: 180px;
    margin-top: -30px;
}

.link:hover {
    Text-Decoration: none !important;
}

footer {
    padding: 5px;
    clear: both;
    padding-top: 0px;
}

.form-group {
    text-align: left;
}

.query-box {
    float: left;
    margin-top: -56px;
}

#page-head {
    display: inline-block;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 100px;
    margin: -70px 0px 0px -235px;
}

.jumbotron {
    border-radius: 0px;
    height: 80px;
    box-shadow: 0px 5px 2px #535151
}

.bg-info {
    background-color: #ffffff!important;
}

.container {
    margin-bottom: 100px;
    text-align: center;
}

#twitter {
    background-color: #2f5bb7;
}

#insta {
    background-color: #771c0c;
    padding: 15px;
    overflow-y: scroll;
    height: 600px;
    margin-bottom: 40px;
    color: #eee5d9;
}

#stats {
    background-color: #2f3b1e;
    background-blend-mode: soft-light;
    padding: 15px;
    overflow-y: scroll;
    height: 600px;
    margin-bottom: 40px;
    color: #eee5d9;
}

#insta-box {
    font-size: 14px;
    border-radius: 2px;
    line-height: .8;
    height: 35px;
}

.photo {
    width: 300px;
    height: 300px;
}

.photoLabel {
    font-size: 14px;
    margin: 10px 0px 20px;
}

.col {
    padding: 15px;
}

.hide {
    height: 0px;
}

#insta-form {
    margin: 20px auto 0px;
}

.avatar-img {
    height: 180px;
    width: 180px;
    z-index: -1;
}

::-webkit-scrollbar {
	display: none;
}