body {
    background-image: url(../images/dark-honeycomb.png);
    font-family: 'Basic', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

#banner {
    height: 149px;
}

.banner-image {
    margin: -53px 0px 0px -250px;
    width: 600px;
    height: 130px;
}

a:hover {
    text-decoration: none!important;
}

#sportsQuery-submit {
    height: 25px;
    width: 75px;
    font-size: 14px;
    border-radius: 2px;
    border-color: #2f5bb7;
    background-color: #357ae8;
    justify-content: space-around;
    line-height: .8;
    margin-top: -5px;
    padding: 0px;
}

#sportsQuery-text {
    font-size: 14px;
    border-radius: 2px;
    line-height: .8;
    height: 35px;
    border: 1px solid #515252;
    width: 160px;
    width: 168px;
    padding-left: 8px;
}

#instaQuery-text {
    font-size: 14px;
    border-radius: 2px;
    line-height: .8;
    height: 35px;
    border: 1px solid #515252;
    width: 160px;
    width: 168px;
    padding-left: 8px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #808080;
    color: #eee5d9;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 12px;
    border-top: 6px solid #771c0c;
}

.links {
    margin-bottom: 10px;
}

.contact-link {
    margin: 0px 30px;
    color: #eee5d9;
}

.sports-btn {
    height: 180px;
    width: 180px;
    display: inline-block;
    margin: 10px;
}

.player-suggestion:hover {
    background-color: aqua;
    color: black;
    font-size: large;
    cursor: default;
}

.avatar-img {
    height: 180px;
    width: 180px;
    z-index: -1;
}

.avatar-img:hover {
    opacity: .5;
}

.label {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    width: 180px;
    margin-top: -30px;
}

.link:hover {
    Text-Decoration: none !important;
}

footer {
    padding: 5px;
    clear: both;
    padding-top: 0px;
}

.form-group {
    text-align: left;
}

.query-box {
    margin-top: -44px;
}

.card-body {
    color: #fbc02d;
    background-color: blanchedalmond;
}

.query-box {
    float: left;
    margin-top: -40px;
}

#page-head {
    display: inline-block;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 100px;
    margin: -70px 0px 0px -235px;
}

.jumbotron {
    border-radius: 0px;
    height: 80px;
    box-shadow: 0px 5px 2px #535151
}

.bg-info {
    background-color: #ffffff!important;
}

.container {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

#insta {
    background-color: rgba(57, 58, 55, 0.75);
    padding: 15px;
    overflow-y: scroll;
    height: 600px;
    margin-bottom: 40px;
    color: #eee5d9;
    border-radius: 0 6px 6px 0;
}

#stats {
    background-color: rgba(57, 58, 55, 0.75);
    padding: 15px;
    overflow-y: scroll;
    height: 600px;
    margin-bottom: 40px;
    color: #eee5d9;
    border-radius: 6px 0 0 6px;
}

.photo {
    width: 300px;
    height: 300px;
}

.photoLabel {
    font-size: 14px;
    margin: 10px 0px 20px;
}

.col {
    padding: 15px;
}

.hide {
    height: 0px;
}

#insta-form {
    margin: 20px auto 0px;
}

.avatar-img {
    height: 180px;
    width: 180px;
    z-index: -1;
}

::-webkit-scrollbar {
    display: none;
}

#row {
    margin-bottom: 80px;
}

.close {
    margin-top: -110px;
    color: #771c0c;
    opacity: .8;
    text-shadow: 0 1px 0 #a19f9f;
    margin-right: 15px;
}

@media screen and (max-width: 1070px) {
    .avatar-img {
        height: 140px;
        width: 140px;
    }
    .sports-btn {
        height: 140px;
        width: 140px;
    }
    .label {
        font-size: 13px;
        padding: 3px;
        width: 140px;
        margin-top: -25px;
    }
    .banner-image {
        margin: -60px 0px 0px -180px;
        width: 500px;
        height: 118px;
    }
    #sportsQuery-submit {
        height: 20px;
        width: 65px;
        font-size: 12px;
        margin-top: -8px;
    }
    #sportsQuery-text {
        font-size: 14px;
        height: 28px;
        width: 160px;
        padding-left: 8px;
        margin-top: 6px;
    }
    #instaQuery-text {
        font-size: 14px;
        height: 28px;
        width: 160px;
        padding-left: 8px;
        margin-top: 6px;
    }
    footer {
        padding: 5px;
        padding-top: 0px;
        height: 50px;
    }
    .fa-2x {
        font-size: 15px;
    }
    .links {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 993px) {
    .container {
        width: 100%;
    }
    .avatar-img {
        height: 130px;
        width: 130px;
    }
    .sports-btn {
        height: 130px;
        width: 130px;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        width: 130px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -60px 0px 0px -180px;
        width: 390px;
        height: 116px;
    }
    #sportsQuery-submit {
        height: 18px;
        width: 61px;
        font-size: 10px;
        margin-top: 20px;
    }
    #sportsQuery-text {
        font-size: 11px;
        height: 28px;
        width: 124px;
        padding-left: 2px;
        margin-top: 6px;
    }
    #instaQuery-text {
        font-size: 11px;
        height: 28px;
        width: 124px;
        padding-left: 2px;
        margin-top: 6px;
    }
    footer {
        padding: 5px;
        padding-top: 0px;
        height: 50px;
    }
    .fa-2x {
        font-size: 15px;
    }
    .links {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 775px) {
    .row {
        width: 100%;
        margin-left: -55px;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -37px 0px 0px -104px;
        width: 450px;
        height: 120px;
    }
    #sportsQuery-submit {
        height: 15px;
        width: 56px;
        font-size: 8px;
        margin-top: -26px;
        margin-left: -20px;
    }
    #sportsQuery-text {
        font-size: 10px;
        height: 20px;
        width: 113px;
        padding-left: 1px;
        margin-top: 35px;
        margin-left: -20px;
    }
    #instaQuery-text {
        font-size: 10px;
        height: 20px;
        width: 113px;
        padding-left: 1px;
        margin-top: 2px;
        margin-left: -20px;
    }
    footer {
        padding: 5px;
        clear: both;
        padding-top: 0px;
        height: 50px;
    }
    .fa-2x {
        font-size: 15px;
    }
    .links {
        margin-bottom: 0px;
    }
    .jumbotron {
        height: 60px;
        box-shadow: 0px 5px 1px #535151
    }
    .contact-link {
        margin: 10px;
    }
}

@media screen and (max-width: 714px) {
    .avatar-img {
        height: 100px;
        width: 100px;
    }
    .sports-btn {
        height: 100px;
        width: 100px;
    }
    .row {
        width: 100%;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        width: 100px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -55px 0px 0px -65px;
        width: 400px;
        height: 108px;
    }
    #banner {
        height: 110px;
    }
    .contact-link {
        margin: 10px;
    }
    .query-box {
        margin-top: -65px;
    }
}

@media screen and (max-width: 650px) {
    .row {
        width: 700px;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -37px 0px 0px -104px;
        width: 350px;
        height: 80px;
    }
    #sportsQuery-submit {
        height: 10px;
        width: 51px;
        font-size: 6px;
        margin-top: -26px;
        margin-left: -7px;
    }
    #sportsQuery-text {
        font-size: 8px;
        height: 12px;
        width: 91px;
        padding-left: 2px;
        margin-top: 35px;
        margin-left: -8px;
    }
    #instaQuery-text {
        font-size: 8px;
        height: 12px;
        width: 91px;
        padding-left: 2px;
        margin-top: 2px;
        margin-left: -8px;
    }
    .links {
        margin-bottom: 0px;
    }
    .contact-link {
        margin: 10px;
    }
}

@media screen and (max-width: 572px) {
    .avatar-img {
        height: 100px;
        width: 100px;
    }
    .sports-btn {
        height: 110px;
        width: 100px;
    }
    .row {
        width: 600px;
        margin-left: -25px;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        width: 100px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -22px 0px 0px -84px;
        width: 350px;
        height: 100px;
    }
    #sportsQuery-submit {
        height: 10px;
        width: 51px;
        font-size: 6px;
        margin-top: -26px;
        margin-left: -7px;
    }
    #sportsQuery-text {
        font-size: 8px;
        height: 12px;
        width: 91px;
        padding-left: 2px;
        margin-top: 65px;
        margin-left: -8px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 370px;
        margin-left: -50px;
    }
    .avatar-img {
        height: 100px;
        width: 100px;
    }
    .sports-btn {
        height: 100px;
        width: 100px;
    }
    .row {
        width: 500px;
    }
    .label {
        font-size: 12px;
        padding: 0px;
        width: 100px;
        margin-top: -18px;
    }
    .banner-image {
        margin: -27px -110px 0px -104px;
        width: 245px;
        height: 108px;
    }
    #sportsQuery-text {
        margin-top: 55px;
    }
    #banner{
        width: 375px;
    }
}